@import url('https://fonts.googleapis.com/css2?family=Besley:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Montserrat', sans-serif; 
	font-size: 24px;
	margin: 0px auto;
	background-color: #f4f4f4; 
	align-items: center;
	color: #333;
}

h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter; 
	font-size:  24px; 
	color: black;
}

h1 {
    font-size: 48px; 
    font-weight: bold; 
    color: royal blue; 
}

a{
	text-decoration: none;
}